<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}"  />
    <title>Hello, world!</title>
  </head>
  <body>
    <div th:replace="fragments/header :: header(content='about')"></div>
    <div id="about-me" class="jumbotron">
        <h1 class="display-4"></h1>
        <p class="lead">Hello, I am Lauren Arthur</p>
        <hr class="my-4">
    </div>
    <div id="aboutInfo">
        <p> Hello world, my name is Lauren. I hope you enjoy this webpage. One of my favorite things to tell people is that 
            I lived in England for 5 years. This was such a fun experience we would take weekend trips down to Whales or hop
            over to Ireland for a quick summer vacation. I got to see so much of Europe, I hope to go back some day and revist 
            the places we lived. 
        </p>
         <p> I have lived in Georgia for a majority of my life. I am from Augusta Georgia and ended up coming down to Columbus
            for school. Some of hobbies included graphics and design, videography and reading. I will have to admit that I
            also fo my far share of videograming. 
        </p>
        <p> Two of the nonprofits that I have volunteered at our Ronald Mcdonalds House and Boys and Girls Club. 
            Both of these gave me an amazing oppurtunity to help other people. The Ronald Mcdonald house gave me 
            the oppurtunity to hear some amazing stories of women overcoming the unthinkable. 
        </p>

        <a class="btn" href="https://www.rmhc.org">Ronald Mcdonald House</a>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
  </body>
</html>
        
