#about-me{
    background-image: url(/img/profilepic.jpeg);
    background-position: 50% 30%;
    font-size: 3em;
}
#about-me p{
    text-align: right;
}
.lead{
    color: antiquewhite;
    font-size: 1.5em;
}